USE [master]
GO
/****** Object:  Database [TestBase]    Script Date: 17.03.2025 12:44:48 ******/
CREATE DATABASE [TestBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestBase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestBase]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 17.03.2025 12:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Процент брака материала ] [float] NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 17.03.2025 12:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Тип партнера] [nvarchar](255) NULL,
	[Наименование партнера] [nvarchar](255) NULL,
	[Директор] [nvarchar](255) NULL,
	[Электронная почта партнера] [nvarchar](255) NULL,
	[Телефон партнера] [nvarchar](255) NULL,
	[Юридический адрес партнера] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[Рейтинг] [float] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_product]    Script Date: 17.03.2025 12:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID Product] [int] NOT NULL,
	[ID Partner] [int] NOT NULL,
	[Количество продукции] [float] NULL,
	[Дата продажи] [datetime] NULL,
 CONSTRAINT [PK_Partners_product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.03.2025 12:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID Type] [int] NULL,
	[Наименование продукции] [nvarchar](255) NULL,
	[Артикул] [float] NULL,
	[Минимальная стоимость для партнера] [float] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 17.03.2025 12:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](255) NULL,
	[Коэффициент типа продукции] [float] NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Partners_product]  WITH CHECK ADD  CONSTRAINT [FK_Partners_product_Partners] FOREIGN KEY([ID Partner])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Partners_product] CHECK CONSTRAINT [FK_Partners_product_Partners]
GO
ALTER TABLE [dbo].[Partners_product]  WITH CHECK ADD  CONSTRAINT [FK_Partners_product_Product] FOREIGN KEY([ID Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Partners_product] CHECK CONSTRAINT [FK_Partners_product_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product_type] FOREIGN KEY([ID Type])
REFERENCES [dbo].[Product_type] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product_type]
GO
USE [master]
GO
